{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": false,
    "jest": true
  },
  "plugins": [
    "import"
  ],
  "extends": [
    "eslint-config-airbnb-base"
  ],
  "globals": {},
  "rules": {
    "no-console": ["warn"],
    "no-useless-escape": 0,
    "no-empty": 0,
    "comma-dangle": 0,
    "arrow-parens": ["error", "as-needed"],
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "no-underscore-dangle": "off",
    "no-bitwise": "off",
    "no-mixed-operators": "off",
    "max-len": ["error", { "code": 130 }],
    "class-methods-use-this": "off",
    "no-plusplus": "off"
  }
}
